## Our own stuff

# Directory for distribution archives, gets recreated on each test run
/dist
/reports
/doc

# Directories for temporary test runtime data
/tests/runtime/assets/*
/tests/runtime/runtime/*

## Stuff from external utilities

# OS cache directories
Thumbs.db
*.DS_Store
*.empty

# Phpstorm project files
.idea

# Netbeans project files
nbproject

# Zend studio project files
.buildpath
.project
.settings

# Sass cache files
*.sass-cache

# mac deployment helpers
switch

# Composer stuff
/composer*
/vendor*

/phpdoc.xml
